<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container mb-5">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/books/new}" th:object="${book}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label class="col-md2" for="title">Title</label>
            <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title"
                   placeholder="Enter title">
        </div>
        <div class="form-group">
            <label class="col-md2" for="coverImage">Cover Image</label>
            <input th:field="*{coverImage}" type="text" class="col-md6 form-control form-control-sm" id="coverImage"
                   placeholder="Enter Url">
        </div>
        <div class="form-group">
            <label class="col-md2" for="author">Author</label>
            <input th:field="*{author}" type="text" class="col-md6 form-control form-control-sm" id="author"
                   placeholder="Enter author">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Category</label>
            <select th:field="*{category}" type="text" class="col-md6 form-control form-control-sm" id="category">
                <option th:each="category: ${categories}"
                        th:value="${category.name}"
                        th:text="${category.name}"
                >
                </option>
            </select>
        </div>

        <out value="${message}"/>
        <form method="post" action="greet" enctype="multipart/form-data" commandName="fileFormBean">
            <table>
                <tr>
                    <td>Selecciona fichero:</td>
                    <td><input type="file" name="fichero"/></td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Subir fichero"></td>
                </tr>
            </table>
        </form>


        <div class="card-footer mb-5">
            <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
        </div>
    </form>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>