<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container mb-5">
    <h1 th:text="${title}"></h1>


        <div class="d-flex flex-row flex-sm-wrap justify-content-between align-items-center bd-highlight mb-5">

        <div th:each="book: ${books}" class="card" style="width: 18rem;">
            <img th:src="${book.coverImage}" class="card-img-top" alt="cover">
            <div class="card-body">
                <h5 th:text="${book.title}" class="card-title"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li th:text="${book.author}" class="list-group-item"></li>
                <li th:text="${book.category}" class="list-group-item"></li>
                <li th:text="${book.id}" class="list-group-item" style="display:none;"></li>
            </ul>
            </div>
        </div>



</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>